* {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
}
nav .logo{
    font-size: 36px;
    margin: 5px;
}

nav .nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    margin-left: 4px;
    width: 160px;
    height: 50px;
}

nav .nav-btn p{
    margin: 0;
    padding: 0;
    text-align: left;
}
.value p, svg{
    width: 300px;
    height: 150px;
    margin: 20px auto;
    display:  flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
}
.value p span{
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 300px;
    border: 20px solid;
    box-sizing: border-box;
    border-color: rgba(54, 162, 235, 1) rgba(54, 162, 235, 1) #ddd #ddd;
    border-radius: 50%;
    transform: rotate(135deg);
    transition: 0.5s; 
}
.value svg circle:nth-child(2){
    stroke: rgba(54, 162, 235, 1);
    stroke-dasharray: 393;
    transition: 0.5s;
}