/* style.css */
body {
    font-family: 'Kanit', sans-serif !important;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

.web-name{
    font-size: 24px;
}

.nav-slidebar {
    width: 280px;
    height: 100vh;
    position: fixed;
    left: 0; 
    transition: left 0.3s;
    overflow: hidden;
}

.menu-toggle {
    display: none !important;
    position: fixed;
    top: 10px;
    left: 10px;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}

.icon-bar {
    margin-right: 1rem;
    transition: margin-right 0.3s;
}

.name-nav {
    transition: opacity 0.3s;
}

.content{
    margin-left: 280px;
    padding: 20px;
    overflow-x: scroll;
    width: 100%;
}

.table{
    min-width: 600px !important;
}

.menu-table{
    width: 100%;
}

.menu-table thead th {
    text-align: center;
    padding: 8px;
    color: #000000;
    background: #ffffff;
    border: 1px solid #000000;
}

.menu-table tbody td {
    border: 1px solid #000000;
    font-size: 16px;
    padding: 8px;
}


.menu-table tr:nth-child(even) {
    background: #F8F8F8;
}

@media(max-width: 900px) {
    .menu-toggle {
        display: block !important;
    }

    .nav-slidebar {
        width: 280px;
        position: fixed;
        left: -280px; /* ซ่อนเมนูเมื่อไม่ได้เปิด */
        height: 100vh;
    }
    
    .nav-slidebar.open {
        left: 0; /* แสดงเมนูเมื่อเปิด */
    }
    .content{
        margin-left: 25px;
    }
}

@media(max-width: 380px) {
    .nav-slidebar {
        width: 120px;
    }

    .name-menu{
        display: none;
    }

    .icon-bar{
        margin: 0;
    }

    .nav-item{
        text-align: center;
    }

    .web-name{
        font-size: 14px;
    }
}
